/* :root {
    --color-line1: rgb(111, 117, 174);
    --color-line2: rgb(70, 204, 166);
    --color-line3: rgb(174, 208, 136);
    --color-line4: rgb(249, 189, 83);
    --color-line5: rgb(158, 65, 83);
    --color-line6: rgb(255, 157, 141);
    --color-line7: rgb(43, 110, 112);
    --color-line8: rgb(210, 84, 136);
} */

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: rgb(247, 247, 247);
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

/* Container */
.cont {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 30px;

    position: relative;
}

.container {
    /* width: 100%; */
    max-width: 1100px;
    /* margin: 0 auto; */

}

.container2 {
    width: 320px;
}

.quote {
    width: 610px;
    position: absolute;
    top: 15px;
    right: 100px;

    font-size: 14px;
    /* font-weight: 700; */
    font-style: italic;
}

.text_book {
    font-weight: 700;
}

.text_author {
    font-size: 11px;
    fill: #949390;
    font-weight: 700;
}

.text_num {
    font-size: 22px;
    font-weight: 700;
    fill: #fff;
    font-family: Arial, sans-serif;
}

.text_num--modal {
    font-size: 16px;
    font-family: Raleway, sans-serif;
}

.text_header {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 10px;
    color: #000;
}

.header_num {
    font-size: 22px;
    font-family: Arial, sans-serif;
}

.book:hover {
    fill: #b22222;
}

.scheme {
    list-style: none;

}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    line-height: 30px;
    font: 32px Arial, sans-serif;
}

/* .scheme__number {
    margin-right: 10px;
    width: 25px;
    height: 22px;
    border-radius: 20%;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #4b5484;

    color: #fff;
    line-height: 22px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
} */

.scheme {
    margin-top: 100px;
    margin-left: 10px;

    font-size: 12px;

}

.scheme__item {
    font-weight: bold;

    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}

.scheme__item:last-child {
    margin-bottom: 0;
}

.scheme__item:hover {
    cursor: pointer;
}

.line {
    width: 280px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.line__num {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 40%;

    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    font-size: 18px;
    
    transition: all .1s linear;
}

.line__name {
    font-size: 12px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    text-align: left;

    transition: color .1s linear;
}

.one:hover .line__num {
    color: #fff;
    background-color: #4b5484;
    border-color: #4b5484;
}

.one:hover .line__name {
    color: #4b5484;
}

.two:hover .line__num {
    color: #fff;
    background-color: #46cca6;
    border-color: #46cca6;
}

.two:hover .line__name {
    color: #46cca6;
}

.three:hover .line__num {
    color: #fff;
    background-color: #aed088;
    border-color: #aed088;
}

.three:hover .line__name {
    color: #aed088;
}

.four:hover .line__num {
    color: #fff;
    background-color: #f9bd53;
    border-color: #f9bd53;
}

.four:hover .line__name {
    color: #f9bd53;
}

.five:hover .line__num {
    color: #fff;
    background-color: #9e4153;
    border-color: #9e4153;
}

.five:hover .line__name {
    color: #9e4153;
}

.six:hover .line__num {
    color: #fff;
    background-color: #ff9d8d;
    border-color: #ff9d8d;
}

.six:hover .line__name {
    color: #ff9d8d;
}

.seven:hover .line__num {
    color: #fff;
    background-color: #2b6e70;
    border-color: #2b6e70;
}

.seven:hover .line__name {
    color: #2b6e70;
}

.eight:hover .line__num {
    color: #fff;
    background-color: #d25488;
    border-color: #d25488;
}

.eight:hover .line__name {
    color: #d25488;
}


.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: #f0efef;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}


.mini-scheme {
    display: none;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    display: none;
    padding: 0 1rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.8);
}

.modal.show {
    display: flex;
}


.modal__dialog {
    position: relative;

    width: 100%;
    max-width: 900px;
    height: 530px;
    margin: auto;

    padding: 0 0;
    background-color: #EFF0F1;

    border-radius: 5px;

    /* transform: rotateX(90deg);
    transition: transform .2s linear; */
}

/* .modal__card {
    /* width: 100%;
    max-width: 1000px;
    height: 550px;
    margin: auto; */

    /* padding: 1rem 0;
    background-color: #C1CDD8;

    border-radius: 20px; */

/* } */

button {
    padding: 0;

    background: none;
    border: 0;
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    transition: transform .2s linear;
}

.modal__close:hover {
    transform: translateY(-3px);
}

.modal__btn:hover {
    transform: translateY(-3px);
}

.modal__btn--prev {
    position: absolute;
    left: -40px;
    top: 275px;

    width: 30px;
    height: auto;
}

.modal__btn--next {
    position: absolute;
    right: -40px;
    top: 275px;

    width: 30px;
    height: auto;
}

.modal__title {
    text-align: center;
    color: #fff;
    font-weight: 700;

    height: 9%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* -bottom: 1rem; */
}


.modal__book {
    font-size: 28px;
    line-height: 33px;

    margin-right: 20px;
}

.modal__author {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .1rem;
}

.modal__content {
    display: flex;
    height: 450px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.modal_a {
    text-decoration: underline;
    color: inherit;

    font-style: italic;
}

.modal__par p {
    margin: 5px 0 7px;
    /* margin-bottom: 7px; */
}

.modal__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    /* border-radius: 50%; */

    transform: rotateZ(45deg);

    border: 3px solid #D25488;
    background-color: transparent;

    margin-right: 5px;

    vertical-align: middle;
    line-height: 19px;
}

.modal__transfer-book {

}

/* .modal__ddot {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;

} */

.modal__left,
.modal__right {
    padding: 30px 10px;
}


.modal__left {
    /* background-color: #EFF0F1; */
    /* background-color: rgba(111, 117, 174, .01) */
    /* opacity: .01; */

    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.modal__films {
    display: flex;
    align-items: center;
}

.modal__films {
    margin-bottom: 7px;
}

.modal__films:last-child {
    margin-bottom: 0;
}


.modal__film {

    text-decoration: none;
    color: #000;

    position: relative;
}

.modal__film::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    content: "";
    transition: width 0.3s ease-out;
}

.modal__film:hover:after,
.modal__film:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.modal__icon {
    margin-right: 5px;
}

.modal__icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.modal__right {
    /* background-color: #DBDFE8; */
    background-color: rgba(111, 117, 174, .2);

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.modal__h2 {
    font-weight: 700;

    margin-bottom: 10px;
}

.modal__nav {
    display: flex;
    justify-content: center;
}

.modal__footer {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    position: relative;
}

.modal__line {
    width: 97%;
    height: 8px;

    background-color: #6F75AE;

    position: absolute;
    top: 11px;

}

.modal__line-left {
    position: absolute;
    top: -5px;
    left: 0;
}

.modal__line-right {
    position: absolute;
    top: -5px;
    right: 0;
}

.modal__stations {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

/* .modal__line-num {
    z-index: 10;
} */

.modal__station {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    /* border: solid 3px #6F75AE; */

    background-color: #6F75AE;
}

.modal__station--active {
    border: solid 5px #6F75AE;

    width: 20px;
    height: 20px;

    background-color: #fff;

    position: relative;
}

.modal__station--active::after {
    content: '';

    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6F75AE;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 11;
}
















/* 4b5484 */