:root {
    --color-line1: rgb(75, 84, 132);
    --color-line2: rgb(70, 204, 166);
    --color-line3: rgb(174, 208, 136);
    --color-line4: rgb(249, 189, 83);
    --color-line5: rgb(158, 65, 83);
    --color-line6: rgb(255, 157, 141);
    --color-line7: rgb(43, 110, 112);
    --color-line8: rgb(210, 84, 136);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

/* Container */
.container {
    margin: 0 auto;

    max-width: 1230px;
    width: 100%;
    /* max-height: 750px; */
    /* height: 100vh; */
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.container1 {
    position: relative;
    width: 70%;
    height: 100vh;
}

.container2 {
    width: 25%;
}


.quote {
    width: 750px;
    position: absolute;
    top: 15px;
    right: 0;

    font-size: 12px;
    letter-spacing: .05rem;
}

.underground_scheme {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.text_book {
    font-weight: 700;

    transition: all .1s linear;
}

.text_author {
    font-size: 11px;
    fill: #949390;
    font-weight: 700;
}

.text_num {
    font-size: 22px;
    font-weight: 700;
    fill: #fff;
    font-family: Arial, sans-serif;
}

.text_num--modal {
    font-size: 16px;
    font-family: Raleway, sans-serif;
}

.text_header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
}

/* .header_num {
    font-size: 18px;
    font-family: Arial, sans-serif;
} */

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    line-height: 30px;
    font: 32px Arial, sans-serif;
}

.designations {
    list-style: none;
}

.designations__item {
    font-weight: bold;

    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.designations__item:last-child {
    margin-bottom: 0;
}

.designations__item:hover {
    cursor: pointer;
}

.designations {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */

}

.designations__line {
    display: flex;
    align-items: center;
}

.designations__number {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 40%;

    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    font-size: 18px;

    transition: all .1s linear;
}

.designations__title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;

    transition: color .1s linear;
}

.one:hover .designations__number {
    color: #fff;
    background-color: var(--color-line1);
    border-color: var(--color-line1);
}

.one:hover .designations__title {
    color: var(--color-line1);
}

.two:hover .designations__number {
    color: #fff;
    background-color: var(--color-line2);
    border-color: var(--color-line2);
}

.two:hover .designations__title {
    color: var(--color-line2);
}

.three:hover .designations__number {
    color: #fff;
    background-color: var(--color-line3);
    border-color: var(--color-line3);
}

.three:hover .designations__title {
    color: var(--color-line3);
}

.four:hover .designations__number {
    color: #fff;
    background-color: var(--color-line4);
    border-color: var(--color-line4);
}

.four:hover .designations__title {
    color: var(--color-line4);
}

.five:hover .designations__number {
    color: #fff;
    background-color: var(--color-line5);
    border-color: var(--color-line5);
}

.five:hover .designations__title {
    color: var(--color-line5);
}

.six:hover .designations__number {
    color: #fff;
    background-color: var(--color-line6);
    border-color: var(--color-line6);
}

.six:hover .designations__title {
    color: var(--color-line6);
}

.seven:hover .designations__number {
    color: #fff;
    background-color: var(--color-line7);
    border-color: var(--color-line7);
}

.seven:hover .designations__title {
    color: var(--color-line7);
}

.eight:hover .designations__number {
    color: #fff;
    background-color: var(--color-line8);
    border-color: var(--color-line8);
}

.eight:hover .designations__title {
    color: var(--color-line8);
}


/* Stations */
.stations__item:hover {
    cursor: pointer;
}

.stations__item:hover .text_book {
    letter-spacing: .05rem;
}

.stations__item:hover circle {
    fill: #fff;
    stroke-width: 4;
    r: 7;

    transition: all .2s linear;

}

.stations__item:hover.heroic .text_book {
    fill: var(--color-line1);
}

.stations__item:hover.heroic circle {
    stroke: var(--color-line1);
}

.stations__item:hover.psychological .text_book {
    fill: var(--color-line2);
}

.stations__item:hover.psychological circle {
    stroke: var(--color-line2);
}

.stations__item:hover.naturalscience .text_book {
    fill: var(--color-line3);
}

.stations__item:hover.naturalscience circle {
    stroke: var(--color-line3);
}

.stations__item:hover.detective .text_book {
    fill: var(--color-line4);
}

.stations__item:hover.detective circle {
    stroke: var(--color-line4);
}

.stations__item:hover.historical .text_book {
    fill: var(--color-line5);
}

.stations__item:hover.historical circle {
    stroke: var(--color-line5);
}

.stations__item:hover.sentimental .text_book {
    fill: var(--color-line6);
}

.stations__item:hover.sentimental circle {
    stroke: var(--color-line6);
}

.stations__item:hover.social .text_book {
    fill: var(--color-line7);
}

.stations__item:hover.social circle {
    stroke: var(--color-line7);
}

.stations__item:hover.fantastic .text_book {
    fill: var(--color-line8);
}

.stations__item:hover.fantastic circle {
    stroke: var(--color-line8);
}


/* Modal */
.modal {
    width: 100%;
    height: 100%;
    display: none;
    padding: 0 1rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.8);
}

.modal.show {
    display: flex;
}


.modal__dialog {
    position: relative;

    width: 90%;
    max-width: 900px;
    height: auto;
    margin: auto;

    padding: 0 0;
    background-color: #EFF0F1;

    border-radius: 5px;
}

button {
    padding: 0;

    background: none;
    border: 0;
    cursor: pointer;
}

.modal__arrow {
    background-color: rgba(95, 95, 95, 0.2);
    ;

    height: 525px;
    width: 50px;

    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s linear;
}

.modal__arrow--left {
    left: -48px;
}

.modal__arrow--right {
    right: -48px;
}

.modal__arrow:hover {
    background-color: rgba(163, 162, 162, 0.3);
}

.arrow__icon {
    width: 20px;
    height: auto;
}

.modal__title {
    text-align: center;
    color: #fff;
    font-weight: 700;

    height: 9%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.modal__close {
    width: 45px;
    height: 100%;

    position: absolute;
    right: 0;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close img {
    display: block;
}

.modal__close:hover img {
    transform: rotateZ(90deg);
    transition: transform .2s linear;
}


.modal__book {
    font-size: 28px;
    line-height: 33px;

    margin-right: 20px;
}

.modal__author {
    font-size: 20px;
    letter-spacing: .1rem;
}

.modal__content {
    display: flex;
    height: 450px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.modal_a {
    text-decoration: underline;
    color: inherit;

    font-style: italic;
}

.modal__par p {
    margin: 5px 0 7px;
}

.modal__dot {
    display: inline-block;
    width: 8px;
    height: 8px;

    transform: rotateZ(45deg);

    border: 3px solid #D25488;
    background-color: transparent;

    margin-right: 5px;

    vertical-align: middle;
    line-height: 19px;
}

.modal__left,
.modal__right {
    padding: 30px 10px;
}


.modal__left {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.modal__films {
    display: flex;
    align-items: center;
}

.modal__films {
    margin-bottom: 7px;
}

.modal__films:last-child {
    margin-bottom: 0;
}


.modal__film {

    text-decoration: none;
    color: #000;

    position: relative;
}

.modal__film::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    content: "";
    transition: width 0.3s ease-out;
}

.modal__film:hover:after,
.modal__film:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.modal__icon {
    margin-right: 5px;
}

.modal__icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.modal__right {
    background-color: rgba(111, 117, 174, .2);

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.modal__h2 {
    font-weight: 700;

    margin-bottom: 10px;
}

.modal__nav {
    display: flex;
    justify-content: center;
}

.modal__footer {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.modal__line {
    width: 99%;
    height: 8px;

    background-color: #6F75AE;

    position: absolute;
    top: 11px;

}

.modal__line-left {
    position: absolute;
    top: -5px;
    left: 0;
}

.modal__line-right {
    position: absolute;
    top: -5px;
    right: 0;
}

.modal__stations {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

.modal__station {
    width: 16px;
    height: 16px;

    border-radius: 50%;

    background-color: #6F75AE;
}

.modal__station--active {
    border: solid 5px #6F75AE;

    width: 20px;
    height: 20px;

    background-color: #fff;

    position: relative;
}

.modal__station--active::after {
    content: '';

    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6F75AE;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 11;
}

.page {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 1440px) {
    .designations__number {
        font-size: 14px;
        width: 20px;
        height: 20px;

    }

    .designations__title {
        font-size: 10px;
    }
}

@media (max-width: 990px) {

    .modal__book {
        font-size: 19px;
        line-height: 27px;
    }

    .modal__author {
        font-size: 14px;
    }

    .modal__content {
        font-size: 12px;

        height: 380px;
    }

    .modal__left,
    .modal__right {
        padding: 7px 10px;
    }

    .quote {
        width: 500px;

        right: 0;

        font-size: 10px;
    }

    .designations__title {
        font-size: 8px;
    }

    .designations__item {
        margin-bottom: 10px;
    }

    .modal__arrow {
        height: 447px;
        width: 35px;
    }

    .modal__arrow--left {
        left: -33px;
    }

    .modal__arrow--right {
        right: -33px;
    }
}

@media (max-width: 770px) {}

@media (max-width: 575px) {}