@charset "UTF-8";
*, *:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover,
a:active {
  outline: none;
  text-decoration: none; }

a {
  text-decoration: none;
  color: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400; }

.body.no-scroll {
  height: 100vh;
  overflow: hidden; }

/* Container */
.container {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  overflow: hidden; }
  .container--main {
    position: relative;
    margin: 20px auto 0;
    max-width: 1230px;
    width: 100%; }

button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer; }

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  display: none;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal.show {
    display: flex; }
  .modal__dialog {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: auto;
    margin: auto;
    padding: 0 0;
    background-color: #EFF0F1;
    border-radius: 5px; }
  .modal__arrow {
    background-color: rgba(95, 95, 95, 0.2);
    height: 525px;
    width: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s linear; }
  .modal__arrow--left {
    left: -48px; }
  .modal__arrow--right {
    right: -48px; }
  .modal__arrow:hover {
    background-color: rgba(163, 162, 162, 0.3); }
  .modal__arrow-icon {
    width: 20px;
    height: auto; }
  .modal__title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 9%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
  .modal__close {
    width: 45px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__close img {
    display: block; }
  .modal__close:hover img {
    transform: rotateZ(90deg);
    transition: transform .2s linear; }
  .modal__book {
    font-size: 28px;
    line-height: 33px;
    margin-right: 20px; }
  .modal__author {
    font-size: 20px;
    letter-spacing: .1rem; }
  .modal__content {
    display: flex;
    height: 450px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000; }
  .modal__par p {
    margin: 5px 0 7px; }
  .modal__left, .modal__right {
    padding: 30px 10px; }
  .modal__left {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .modal__films {
    display: flex;
    align-items: center; }
  .modal__films {
    margin-bottom: 7px; }
  .modal__films:last-child {
    margin-bottom: 0; }
  .modal__film {
    text-decoration: none;
    color: #000;
    position: relative; }
  .modal__film::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    content: "";
    transition: width 0.3s ease-out; }
  .modal__film:hover:after, .modal__film:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/ }
  .modal__icon {
    margin-right: 5px; }
  .modal__icon img {
    display: inline-block;
    width: 20px;
    height: 20px; }
  .modal__right {
    background-color: rgba(111, 117, 174, 0.2);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .modal__h2 {
    font-weight: 700;
    margin-bottom: 10px; }
  .modal__footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .modal__line {
    width: 99%;
    height: 8px;
    background-color: #6F75AE;
    position: absolute;
    top: 11px; }
  .modal__line-left {
    position: absolute;
    top: -5px;
    left: 0; }
  .modal__line-right {
    position: absolute;
    top: -5px;
    right: 0; }
  .modal__stations {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; }
  .modal__station {
    width: 16px;
    height: 16px;
    border-radius: 50%; }
  .modal__station--active {
    border: solid 5px transparent;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative; }
  .modal__station--active::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 11; }

.header {
  height: 10vh;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  background: #fcfcfc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__logo {
    width: 4%;
    height: auto;
    margin-right: 3%;
    position: absolute;
    left: 15%; }
  .header__img {
    display: block;
    width: 100%; }
  .header__title {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 90%; }
  .header__title span {
    font-family: "Arial", sans-serif; }

@media (max-width: 770px) {
  .header__title {
    font-size: 20px; } }
@media (max-width: 540px) {
  .header__title {
    font-size: 14px; } }
.accordion {
  width: 100%;
  margin: 0 auto;
  color: black;
  background-color: white; }
  .accordion__container {
    position: relative;
    border-bottom: 1px solid grey; }
  .accordion__label {
    position: relative;
    padding: 5px 10px 5px 30px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    background: #fff;
    transition: .2s;
    cursor: pointer; }
  .accordion__label:hover {
    background: rgba(75, 84, 132, 0.2); }
  .accordion__active .accordion__label {
    background: rgba(75, 84, 132, 0.2); }
  .accordion__label::before {
    content: '+';
    color: gray;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    transform: translateY(-50%); }
  .accordion__content {
    position: relative;
    background: white;
    height: 0;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    transition: height 0.5s linear; }
  .accordion__container.accordion__active .accordion__content {
    height: auto; }
  .accordion__container.accordion__active .accordion__label::before {
    content: '-'; }

.l1 .accordion__label:hover {
  background: rgba(75, 84, 132, 0.2); }

.l1 .accordion__active .accordion__label {
  background: rgba(75, 84, 132, 0.2); }

.l2 .accordion__label:hover {
  background: rgba(71, 205, 167, 0.2); }

.l2 .accordion__active .accordion__label {
  background: rgba(71, 205, 167, 0.2); }

.l3 .accordion__label:hover {
  background: rgba(174, 208, 136, 0.4); }

.l3 .accordion__active .accordion__label {
  background: rgba(174, 208, 136, 0.4); }

.l4 .accordion__label:hover {
  background: rgba(249, 189, 83, 0.2); }

.l4 .accordion__active .accordion__label {
  background: rgba(249, 189, 83, 0.2); }

.l5 .accordion__label:hover {
  background: rgba(158, 65, 83, 0.2); }

.l5 .accordion__active .accordion__label {
  background: rgba(158, 65, 83, 0.2); }

.l6 .accordion__label:hover {
  background: rgba(255, 157, 141, 0.2); }

.l6 .accordion__active .accordion__label {
  background: rgba(255, 157, 141, 0.2); }

.l7 .accordion__label:hover {
  background: rgba(43, 110, 112, 0.2); }

.l7 .accordion__active .accordion__label {
  background: rgba(43, 110, 112, 0.2); }

.l8 .accordion__label:hover {
  background: rgba(210, 84, 136, 0.2); }

.l8 .accordion__active .accordion__label {
  background: rgba(210, 84, 136, 0.2); }

.card {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000; }
  .card__author {
    font-weight: normal; }
  .card__title {
    font-weight: 700;
    margin: 15px 0 5px; }
    .card__title:first-child {
      margin-top: 0; }
  .card__text {
    margin: 5px 0; }
  .card__left, .card__right {
    padding: 10px 15px 10px 10px; }
  .card__left {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .card__films {
    display: flex;
    align-items: center; }
  .card__films {
    margin-bottom: 7px; }
  .card__films:last-child {
    margin-bottom: 0; }
  .card__film {
    text-decoration: none;
    color: #000;
    position: relative; }
  .card__film::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    content: "";
    transition: width 0.3s ease-out; }
  .card__film:hover:after, .card__film:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/ }
  .card__icon {
    margin-right: 5px; }
  .card__icon img {
    display: inline-block;
    width: 20px;
    height: 20px; }
  .card__right {
    background-color: rgba(111, 117, 174, 0.2);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .card__information {
    padding-left: 15px;
    position: relative; }
  .card__information::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    top: 6px;
    left: 0;
    position: absolute; }
  .card__facts .card__information {
    margin-bottom: 5px; }
    .card__facts .card__information:last-child {
      margin-bottom: 0; }

.card__decor {
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__decor--circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .card__decor--circle::after {
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 4px;
      left: 4px;
      opacity: 0;
      transition: opacity .1s linear; }
  .card__decor--start, .card__decor--end {
    height: 50%; }
  .card__decor--start {
    top: 50%; }
    .card__decor--start .card__decor--circle {
      top: 0; }
  .card__decor--end .card__decor--circle {
    top: 100%; }

.accordion__active .card__decor--circle::after {
  opacity: 1; }

@media (max-width: 770px) {
  .card__left, .card__right {
    width: 100%; }
  .card__left {
    padding-bottom: 0; } }
.info {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.info__item {
  width: 23%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: .9vw;
  text-align: center;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.info__item:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.info__number {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
  line-height: 30px;
  font-family: "Arial", sans-serif; }

.info__item:nth-child(1) {
  background-color: #4b5484; }

.info__item:nth-child(2) {
  background-color: #46cca6; }

.info__item:nth-child(3) {
  background-color: #aed088; }

.info__item:nth-child(4) {
  background-color: #f9bd53; }

.info__item:nth-child(5) {
  background-color: #9e4153; }

.info__item:nth-child(6) {
  background-color: #ff9d8d; }

.info__item:nth-child(7) {
  background-color: #2b6e70; }

.info__item:nth-child(8) {
  background-color: #d25488; }

.main__text {
  width: 70%;
  margin: 5px auto 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1rem;
  font-size: 14px; }

.main__a {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 10%;
  padding: 3px;
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: .1rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 700;
  transition: .2s; }

.main__a--mobile {
  width: 70%;
  position: initial;
  margin: 0 auto 20px; }

.main__a:hover, .main__a:focus {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }

@media (max-width: 1230px) {
  .info__item {
    width: 32%; } }
@media (max-width: 990px) {
  .info {
    width: 70%; }
    .info__item {
      width: 48%;
      font-size: 1.5vw; }

  .main__a {
    width: 70%;
    position: initial;
    margin: 0 auto 20px; }

  .header__logo {
    display: none; } }
@media (max-width: 770px) {
  .info__item {
    width: 100%;
    font-size: 2.7vw; }

  .main__text {
    width: 50%; }

  .main__a {
    width: 70%; } }
@media (max-width: 770px) {
  .info__number {
    font-size: 25px;
    line-height: 25px; }

  .main__text {
    width: 80%; } }
.container--scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.container1 {
  position: relative;
  width: 70%;
  height: 100vh; }

.container2 {
  width: 22%; }

.scheme__a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 20%;
  padding: 3px;
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: .1rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 700; }

.scheme__a:hover, .scheme__a:focus {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }

.underground_scheme {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.text_book {
  font-weight: 700;
  transition: all .1s linear; }

.text_author {
  font-size: 11px;
  fill: #949390;
  font-weight: 700; }

.text_num {
  font-size: 22px;
  font-weight: 700;
  fill: #fff;
  font-family: "Arial", sans-serif; }

.text_num--modal {
  font-size: 14px;
  font-family: "Raleway", sans-serif; }

.text_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  color: #000; }

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  line-height: 30px;
  font: 32px "Arial", sans-serif; }

/* Stations */
.stations .stations__item:hover {
  cursor: pointer; }
.stations .stations__item:hover .text_book {
  letter-spacing: .05rem; }
.stations .stations__item:hover circle {
  fill: #fff;
  stroke-width: 4;
  r: 7;
  transition: all .2s linear; }
.stations .stations__item:hover.heroic .text_book {
  fill: #4b5484; }
.stations .stations__item:hover.heroic circle {
  stroke: #4b5484; }
.stations .stations__item:hover.psychological .text_book {
  fill: #46cca6; }
.stations .stations__item:hover.psychological circle {
  stroke: #46cca6; }
.stations .stations__item:hover.naturalscience .text_book {
  fill: #aed088; }
.stations .stations__item:hover.naturalscience circle {
  stroke: #aed088; }
.stations .stations__item:hover.detective .text_book {
  fill: #f9bd53; }
.stations .stations__item:hover.detective circle {
  stroke: #f9bd53; }
.stations .stations__item:hover.historical .text_book {
  fill: #9e4153; }
.stations .stations__item:hover.historical circle {
  stroke: #9e4153; }
.stations .stations__item:hover.sentimental .text_book {
  fill: #ff9d8d; }
.stations .stations__item:hover.sentimental circle {
  stroke: #ff9d8d; }
.stations .stations__item:hover.social .text_book {
  fill: #2b6e70; }
.stations .stations__item:hover.social circle {
  stroke: #2b6e70; }
.stations .stations__item:hover.fantastic .text_book {
  fill: #d25488; }
.stations .stations__item:hover.fantastic circle {
  stroke: #d25488; }

.designations {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .designations__item {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px; }
  .designations__item:last-child {
    margin-bottom: 0; }
  .designations__item:hover {
    cursor: pointer; }
  .designations__line {
    display: flex;
    align-items: center; }
  .designations__number {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 40%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    transition: all .1s linear; }
  .designations__title {
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    transition: color .1s linear; }

.one:hover .designations__number {
  color: #fff;
  background-color: #4b5484;
  border-color: #4b5484; }

.one:hover .designations__title {
  color: #4b5484; }

.two:hover .designations__number {
  color: #fff;
  background-color: #46cca6;
  border-color: #46cca6; }

.two:hover .designations__title {
  color: #46cca6; }

.three:hover .designations__number {
  color: #fff;
  background-color: #aed088;
  border-color: #aed088; }

.three:hover .designations__title {
  color: #aed088; }

.four:hover .designations__number {
  color: #fff;
  background-color: #f9bd53;
  border-color: #f9bd53; }

.four:hover .designations__title {
  color: #f9bd53; }

.five:hover .designations__number {
  color: #fff;
  background-color: #9e4153;
  border-color: #9e4153; }

.five:hover .designations__title {
  color: #9e4153; }

.six:hover .designations__number {
  color: #fff;
  background-color: #ff9d8d;
  border-color: #ff9d8d; }

.six:hover .designations__title {
  color: #ff9d8d; }

.seven:hover .designations__number {
  color: #fff;
  background-color: #2b6e70;
  border-color: #2b6e70; }

.seven:hover .designations__title {
  color: #2b6e70; }

.eight:hover .designations__number {
  color: #fff;
  background-color: #d25488;
  border-color: #d25488; }

.eight:hover .designations__title {
  color: #d25488; }

@media (max-width: 1440px) {
  .designations__number {
    font-size: 14px;
    width: 20px;
    height: 20px; }

  .designations__title {
    font-size: 10px; } }
@media (max-width: 990px) {
  .modal__book {
    font-size: 19px;
    line-height: 27px; }

  .modal__author {
    font-size: 14px; }

  .modal__content {
    font-size: 12px;
    height: 420px; }

  .modal__left,
  .modal__right {
    padding: 15px 10px; }

  .designations__title {
    font-size: 8px; }

  .designations__item {
    margin-bottom: 10px; }

  .modal__arrow {
    height: 447px;
    width: 35px; }

  .modal__arrow--left {
    left: -33px; }

  .modal__arrow--right {
    right: -33px; } }
.menu__burger {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 2; }
  .menu__burger:hover {
    cursor: pointer; }

.menu-btn {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.menu-btn span {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s; }

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px); }

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px); }

.menu-btn.active span:nth-of-type(1) {
  display: none; }

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg); }

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10vh;
  background: #fcfcfc;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.4);
  transform: translateX(-200%);
  transition: transform 0.5s; }
  .menu.active {
    transform: translateY(0);
    z-index: 1000; }
  .menu__item {
    list-style-type: none;
    height: 6vh;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    line-height: 12px;
    transition: color .2s linear; }
  .menu .menu__item:nth-child(1) {
    background-color: #4b5484; }
  .menu .menu__item:nth-child(2) {
    background-color: #46cca6; }
  .menu .menu__item:nth-child(3) {
    background-color: #aed088; }
  .menu .menu__item:nth-child(4) {
    background-color: #f9bd53; }
  .menu .menu__item:nth-child(5) {
    background-color: #9e4153; }
  .menu .menu__item:nth-child(6) {
    background-color: #ff9d8d; }
  .menu .menu__item:nth-child(7) {
    background-color: #2b6e70; }
  .menu .menu__item:nth-child(8) {
    background-color: #d25488; }
  .menu__item:hover {
    color: #000;
    cursor: pointer; }

.content {
  margin: 30px 0;
  width: 100%;
  padding: 0 20px;
  overflow: hidden; }

.phrase {
  width: 100%;
  overflow: hidden;
  height: 90vh;
  display: flex;
  align-items: center; }

.phrase__text {
  padding: 0 20px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  width: 100%; }

.line {
  display: none; }
  .line.visible {
    display: block; }
  .line__title {
    padding: 0 20px;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #4b5484;
    color: #fff;
    font-size: 14px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700; }

.l1 .line__title {
  background-color: #4b5484; }

.l2 .line__title {
  background-color: #46cca6; }

.l3 .line__title {
  background-color: #aed088; }

.l4 .line__title {
  background-color: #f9bd53; }

.l5 .line__title {
  background-color: #9e4153; }

.l6 .line__title {
  background-color: #ff9d8d; }

.l7 .line__title {
  background-color: #2b6e70; }

.l8 .line__title {
  background-color: #d25488; }

/*# sourceMappingURL=style.css.map */
