.container--main {
    position: relative;

    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
}

.info {
    width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info__item {
    width: 23%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;

    color: #fff;
    font-size: .9vw;
    ;
    text-align: center;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.info__item:after {
    // content: "";
    // float: left;
    // padding-top: 100%; 	/* initial ratio of 1:1*/
    content: "";
    display: block;
    padding-bottom: 100%;
}

.info__number {
    position: absolute;
    top: 5px;
    left: 10px;

    font-size: 30px;
    line-height: 30px;

    font-family: $numbers-font;

}


@for $i from 1 through 8 {
    .info__item:nth-child(#{$i}) {
        background-color: #{nth($colors, $i)};
    }
}

.main__text {
    width: 70%;
    margin: 5px auto 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 14px;
}

.main__a {
    position: fixed;
    bottom: 40px;
    right: 10px;

    width: 10%;
    padding: 3px;
    display: block;

    text-align: center;
    font-size: 14px;
    letter-spacing: .1rem;
    border: 1px solid #000;
    border-radius: 5px;
    // text-transform: lowercase;
    font-weight: 700;
    
    transition: .2s;
}

.main__a--mobile {
    width: 70%;

    position: initial;
    margin: 0 auto 20px;
}

.main__a:hover, .main__a:focus {
    // font-weight: 700;
    box-shadow: 5px 5px 5px rgba(#000, 0.4);
}


@media (max-width: 1230px) {
    .info {

        // width: 55%;
        &__item {
            // font-size: 10px;

            width: 32%;
        }
    }
}

@media (max-width: 990px) {
    .info {
        width: 70%;
        justify-content: space-evenly;

        &__item {
            width: 48%;
            font-size: 1.5vw;
        }
    }

    .main__a {
        // width: 12%;
        width: 70%;

        position: initial;
        margin: 0 auto 20px;
    }

    .header__logo {
        display: none;
    }
}

@media (max-width: 770px) {

    .info {
        width: 50%;
        justify-content: space-evenly;

        &__item {
            width: 100%;
            font-size: 2.7vw;
        }
    }

    .main__text {
        width: 50%;
    }

    .main__a {
        width: 50%;
    }
}