// .mobile {
// 	position: relative;
// }

.menu__burger {
	position: absolute;
	top: 50%;
	right: 1vh;
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	justify-content: center;


	border: 1px solid #5a5a5a;
	border-radius: 10px;
	// box-shadow: 3px 3px darkgreen;


	height: 52px;
	width: 52px;

	z-index: 2;

	&:hover {
		cursor: pointer;
	}

	// &.active {
	// 	background: #f0f0f0;
	// 	border-left: 3px solid #505050;
	// 	border-top: 3px solid #505050;
	// }
}

.menu-btn {
    width: 38px;
    height: 38px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.menu-btn .menu__l {
    width: 100%;
    height: 2px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #222222;
    transition: all 0.5s;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	& span {
		width: 6px;
		height: 6px;
		border-radius: 50%;

		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}

	&:nth-child(1), &:nth-child(1) span {
		// background: $color-line1;
		background: $color-line7;
	}
	&:nth-child(2), &:nth-child(2) span {
		background: $color-line4;
	}
	&:nth-child(3), &:nth-child(3) span {
		background: $color-line6;
	}
}

.menu-btn.active .menu__l:nth-of-type(1) {
	// display: none;
	transform: translateY(-1000%);
}

.menu-btn.active .menu__l:nth-of-type(2) {
	// transform: translateY(9px) rotate(45deg);
	transform: rotate(45deg);
}

.menu-btn.active .menu__l:nth-of-type(3) {
	transform: translateY(-13px) rotate(-45deg);
}


.menu {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	margin-top: 70px;

	background-color: #fff;
	// background-color: rgba(0, 0, 0, 0);
	box-shadow: 0 7px 5px rgba(#000, 0.4);

	transform: translateX(-200%);

	transition-property: transform, background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;

	&.active {
		transform: translateY(0);
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1000;
	}

	&__item {
		list-style-type: none;

		height: 50px;
		// height: 6vh;

		display: flex;
		align-items: center;

		font-weight: 700;
		letter-spacing: .1rem;
		text-transform: uppercase;
		color: #fff;
		padding: 0 20px;
		line-height: 14px;
		font-size: 14px;

		transition: color .2s linear;
	}

	@for $i from 1 through 8 {
		.menu__item:nth-child(#{$i}) {
			background-color: #{nth($colors, $i)};
			// background: linear-gradient(90deg, #{nth($colors, $i)} 85%, $header-color 50%);
		}
	}

	&__item:hover {
		color: #000;
		cursor: pointer;
	}


}

.content {
	margin: 30px 0;
	width: 100%;
	padding: 0 20px;
	overflow: hidden;
}

.phrase {
	width: 100%;
	overflow: hidden;
	height: 90vh;
	display: flex;
	align-items: center;
}

.phrase__text {
	padding: 0 20px;

	color: #000;
	font-family: $font;
	font-size: 5vw;
	font-weight: 700;
	text-align: center;

	width: 100%;
}

.line {

	display: none;
	// margin-top: 70px;

	&.visible {
		display: block;
		// padding-bottom: 250px;
	}

	&__title {
		padding: 0 20px;
		height: 50px;

		display: flex;
		align-items: center;

		background-color: $color-line1;

		color: #fff;
		font-size: 14px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		font-weight: 700;
	}

	// &:last-child {
	// 	padding-bottom: 220px;
	// }


}

@for $i from 1 through 8 {
	.l#{$i} .line__title {
		background-color: #{nth($colors, $i)};
	}
}

@media screen and (orientation:portrait) {
	.menu__item {
		height: 50px;
	}
}

@media screen and (orientation:landscape) {
	.menu__item {
		height: 8vh;
	}
}



@media (max-width: 540px) {

    // .line.visible {
	// 	padding-bottom: 0;
	// }

}