.accordion {
    width: 100%;
    margin: 0 auto;
    color: black;
    background-color: white;
    
    &__container {
        position: relative;

        border-bottom: 1px solid grey;
    }


    &__label {
        position: relative;
        padding: 5px 10px 5px 30px;
        font-size: 18px;
        color: black;
        font-weight: 700;
        // letter-spacing: .1rem;
        background: #fff;
    
        transition: .2s;
    
        cursor: pointer;
    }

    &__label:hover {
        background: rgba(75, 84, 132, .2);
    }

    &__active &__label {
        background: rgba(75, 84, 132, .2);
    }

    &__label::before {
        content: '+';
        color: gray;
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 25px;
        transform: translateY(-50%);
    }

    &__content {
        position: relative;
        background: white;
        height: 0;
        font-size: 16px;
        text-align: justify;
        overflow: hidden;
        transition: height 0.5s linear;
    }

    &__container {
        &.accordion__active .accordion__content {
            height: auto;
        }

        &.accordion__active .accordion__label::before {
            content: '-';
        }
    }
}

@for $i from 1 through 8 {
	.l#{$i} .accordion__label:hover {
		background: #{nth($light-colors, $i)};
	}

	.l#{$i} .accordion__active .accordion__label {
		background: #{nth($light-colors, $i)};
	}


}