$font: 'Raleway', sans-serif;
$numbers-font: 'Arial', sans-serif;

// line colors
$color-line1: #4b5484;
$color-line2: #46cca6;
$color-line3: rgb(174, 208, 136);
$color-line4: rgb(249, 189, 83);
$color-line5: rgb(158, 65, 83);
$color-line6: rgb(255, 157, 141);
$color-line7: rgb(43, 110, 112);
$color-line8: rgb(210, 84, 136);

$light-colors: (rgba(75, 84, 132, .2), 
                rgba(71, 205, 167, .2), 
                rgba(174, 208, 136, .4),
                rgba(249, 189, 83, .2), 
                rgba(158, 65, 83, .2), 
                rgba(255, 157, 141, .2), 
                rgba(43, 110, 112, .2), 
                rgba(210, 84, 136, .2));
$colors: (rgb(75, 84, 132), rgb(70, 204, 166), rgb(174, 208, 136), rgb(249, 189, 83), rgb(158, 65, 83), rgb(255, 157, 141), rgb(43, 110, 112), rgb(210, 84, 136));

$light-color: rgb(252, 252, 252);

$header-height: 15%;

